h3 a{
    color: #FCA205
}

body{
    padding-left: 20px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;
}

.page-header{
    background-color: #FCA205;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
}

/*.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{*/
.page-header h1 a{
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
}

.date {
    color: #8A8A8A;
    /*color: #FCA205;*/
}

.job{
    padding: 10px 10px 30px 50px;
}

.job h3 a{
    color: #FF8A4A;
    font-family: 'Cantarell', sans-serif;
}

.job h3 a:visited {
    color: #da8a4c;
    font-family: 'Cantarell', sans-serif;
}

.apply-job-form{
    padding-left: 50px;
    padding-right: 50px;
}


.apply-job-form textarea{
    width: 100%;
}

.apply-job-form input{
    width: 20%;
}

.apply-btn p{
    color: #008930;
}